{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Conta</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Old and Traditional Bank</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url "logar" %}">Home</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="#">Contas</a>
                    </li> {% endcomment %}
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="#">Usuários</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "cadastro" %}">Cadastro Usuário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "listar_contas" %}">Listar contas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'deslogar' %}" onclick="return confirm('Deseja realmente sair?');">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4">Cadastro de Conta</h2>

        {% if messages %}
              {% for message in messages %}
                  <section class="alert {{message.tags}}">
                      {{message}}
                  </section>
              {% endfor %}
          {% endif %}

        <form action="{% url 'cadastrar_conta' %}" method="POST"> {% csrf_token %}
          <div class="mb-3">


            <label for="tipo_conta" class="form-label">Selecione o cliente</label>
            <select class="form-select" id="cliente" name="cliente" required>
              {% for user in usuarios_banco %}
                <option value="{{ user.id }}">Nome: {{ user.first_name }} {{ user.last_name }} - Username: {{ user.username }}</option>
              {% endfor %}
            </select>


          </div>
          <div class="mb-3">
            <label for="tipo_conta" class="form-label">Tipo de Conta</label>
            <select class="form-select" id="tipo_conta" name="tipo_conta" required>
              {% for tipo_conta_value, tipo_conta_label in tipo_conta_choices %}
                <option value="{{ tipo_conta_value }}">{{ tipo_conta_label }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="saldo" class="form-label">Saldo Inicial</label>
            <input type="text" class="form-control" id="saldo" name="saldo" value="R$ 0,00" required>
          </div>

          <div class="mb-3">
            <label for="limite_especial" class="form-label">Limite Especial</label>
            <input type="text" class="form-control" id="limite_especial" value="R$ 0,00" name="limite_especial">
          </div>
          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="ativa" name="ativa" checked>
            <label class="form-check-label" for="ativa">Ativa</label>
          </div>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
  
  <script>
    // Função para formatar os campos como moeda brasileira
    function formatarMoeda(elemento) {
      let valor = elemento.value;
      
      // Remove qualquer caractere que não seja dígito ou vírgula
      valor = valor.replace(/\D/g, "");
      
      // Formata como R$ XX.XXX,XX
      valor = (valor / 100).toFixed(2) + "";
      valor = valor.replace(".", ",");
      valor = valor.replace(/(\d)(?=(\d{3})+\,)/g, "$1.");
      
      // Adiciona o símbolo de moeda
      elemento.value = "R$ " + valor;
    }

    // Adiciona o evento de input aos campos saldo e limite_especial
    document.getElementById('saldo').addEventListener('input', function() {
      formatarMoeda(this);
    });

    document.getElementById('limite_especial').addEventListener('input', function() {
      formatarMoeda(this);
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>
