{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tarefas/css/tarefas.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Lista de Tarefas</h1>
        <br>
        {% if messages %}
          {% for message in messages %}
              <section class="alert {{message.tags}}">
                  {{message}}
              </section>
          {% endfor %}
        {% endif %}
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Prioridade</th>
                    <th>Observações</th>
                    <th>Progresso</th>
                    <th>Data Início</th>
                    <th>Data Fim</th>
                    <th>Data Limite</th>
                </tr>
            </thead>
            <tbody>
                {% for tarefa in tarefas %}
                <tr>
                    <td>{{ tarefa.descricao }}</td>
                    <td>
                        {% if tarefa.status == 1 %}
                            Pendente
                        {% elif tarefa.status == 2 %}
                            Iniciado
                        {% elif tarefa.status == 3 %}
                            Concluído
                        {% elif tarefa.status == 4 %}
                            Excluído
                        {% endif %}
                    </td>
                    <td>{{ tarefa.prioridade }}</td>
                    <td>{{ tarefa.obs }}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ tarefa.progresso_conclusao }}%;" aria-valuenow="{{ tarefa.progresso_conclusao }}" aria-valuemin="0" aria-valuemax="100">{{ tarefa.progresso_conclusao }}%</div>
                        </div>
                    </td>
                    <td>{{ tarefa.dataInicio }}</td>
                    <td>{{ tarefa.dataFim }}</td>
                    <td>{{ tarefa.dataLimite }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>