# .gitignore

# Arquivos gerencia do projeto django1:
manage.py
django1/__init__.py
django1/asgi.py
django1/settings.py
django1/urls.py
django1/wsgi.py

# Testar: Adicionar os códigos sensíveis no .env 
# para deixar somente ele no gitignore, assim os 
# arquivos do projeto django podem ser copiado para 
# o repositório remoto.
django1/.env